@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Poppins", sans-serif;
     text-decoration: none;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
    border: none;
    background: none;
}

img {
    width: 100%;
}

.section-content {
    max-width: var(--site-max-width);
    margin: 0 auto ;
   /*  padding: 0 30px; */
}
.section-title {
    text-align: center;
    font-size: var(--font-size-xl);
    padding: 20px;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.section-title::after {
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    margin: 10px auto 0;
    border-radius: var(--border-radius-s);
    background-color: var(--secondary-color);
}
:root{
    /* Colors */
    --white-color: #fff;
    --dark-color: #130e0e;
    --primary-color: #3b141c;
    --secondary-color: #f3961c;
    --light-pink-color: #e2c8c8;
    --medium-gray-color: #ccc;

    /* Font Size */
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.4rem;

    /* Font Weight */
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* Border radius */
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

    /* Site max width */
    --site-max-width: 100%;
}
header {
    background-color: var(--primary-color);
    position: fixed;
    width: 100%;
    z-index: 5;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    box-shadow: 0 0 20px 0 #251515;
}
.navbar .nav-menu {
    display: flex;
    gap: 1rem;
}
.navbar .nav-logo .logo-text{
    color: var(--white-color);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}
.navbar .nav-menu .nav-link {
    color: var(--white-color);
    padding: 10px 18px;
    border-radius: var(--border-radius-m);
    font-size: var(--font-size-m);
    transition: 0.3s ease-in-out;
}
.navbar .nav-menu .nav-link:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}
.navbar :where(#menu-close-button, #menu-open-button) {
    display: none;
}

/* Hero section */

.hero-section {
    background-color: var(--primary-color);
    min-height: 100vh;
     padding: 10px 60px;
}
.hero-section .section-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    color: var(--white-color);
}

.hero-section .hero-detailes .title {
    font-size: var(--font-size-xxl);
    color: var(--secondary-color);
    font-family: "Miniver", sans-serif;
    margin-left: 20px;
}
.hero-section .hero-detailes .subtitle {
    font-size: var(--font-size-xl);
    max-width: 70%;
    margin-top: 8px;
    font-weight: var(--font-weight-semibold);
}
.hero-section .hero-detailes .description {
    font-size: var(--font-size-m);
    margin: 24px 0 40px;
    max-width: 70%;
}
.hero-section .hero-detailes .button {
    padding: 10px 26px;
    color: var(--primary-color);
    border-radius: var(--border-radius-m);
    border: 2px solid transparent;
    background: var(--secondary-color);
    font-weight: var(--font-weight-medium);
    margin: 5px;
    transition: 0.4s ease;
}
.hero-section .hero-detailes .button.order-now:hover,
.hero-section .hero-detailes .button.Contact-us{
    background-color: transparent;
    color: var(--white-color);
    border: 2px var(--secondary-color) solid;
}
.hero-section .hero-detailes .button.Contact-us:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 2px var(--secondary-color) solid;
}
.hero-section .hero-image-wrapper {
    max-width: 450px;
    margin-right: 10px;
}

/* About section */

.about-section {
    padding: 120px 40px;
    background: var(--light-pink-color);
}
.about-section .section-content {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;

}
.about-section .about-image-wrapper .about-image{
    min-width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: var(--border-radius-circle);
}
.about-section .about-details {
    padding: 0;
}
.about-section .about-details .text {
    line-height: 30px;
    margin: 50px 0 30px;
    text-align: center;
    font-size: var(--font-size-m);
}
.about-section .social-link-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.about-section .social-link-list .social-link {
    color: var(--primary-color);
    
    font-size: var(--font-size-l);
    transition: 0.3s ease;
}
.about-section .social-link-list .social-link:hover {
    color: var(--secondary-color);
}

/* Menu section */
.menu-section {
    padding: 120px 40px;
    background-color: var(--dark-color);
    color: var(--white-color);
}

.menu-section .menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 110px;
    align-items: center;
}
.menu-section .menu-list .menu-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: calc(100% / 3 - 110px);
}
.menu-section .menu-list .menu-item .menu-image {
    max-width: 85%;
    aspect-ratio: 1;
    margin-bottom: 25px;
    object-fit: contain;
}
.menu-section .menu-list .menu-item .name {
    margin: 15px 0;
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-semibold);
}
.menu-section .menu-list .menu-item .text {
    font-size: var(--font-size-m);
}
/* Responsive media query for max width 1024px */
@media screen and (max-width: 1024px) {
.menu-section .menu-list {
    gap: 60px;
}

    .menu-section .menu-list .menu-item {
         width: calc(100% / 3 - 60px);
    }
}

/* Responsive media query for max width 900px */
@media screen and (max-width: 900px){
    :root {
          --font-size-m: 1rem;
            --font-size-l: 1.3rem;
            --font-size-xl: 1.5rem;
            --font-size-xxl: 1.8rem;

    }
     body.show-mobile-menu header::before {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(5px);
        background: rgba(0, 0, 0, 0.2);
     }

    .navbar .nav-menu {
        display: block;
        background-color: #e2c8c8;
        position: fixed;
        left: -300px;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        width: 300px;
        height: 100%;
        transition: left 0.3s ease;

    }

    body.show-mobile-menu .navbar .nav-menu {
        left: 0;
    }

    .navbar :where(#menu-close-button, #menu-open-button) {
        display: block;
        font-size: var(--font-size-l);
    }
    .navbar #menu-close-button {
        position: absolute;
        right: 30px;
        top: 30px;
    }
    .navbar #menu-open-button {
        color: var(--white-color);
    }
     .navbar .nav-menu .nav-link {
        color: var(--dark-color);
        font-size: var(--font-size-l);
        display: block;
        margin-top: 15px;
     }
/* Hero section */

.hero-section .section-content {
    flex-direction: column-reverse;
    gap: 50px;
    justify-content: center;
    align-items: center;
    padding: 40px 20px 20px;
}

.hero-section .hero-image-wrapper {
    max-width: 300px;
    margin-top: 20px;
}
.hero-section .hero-detailes .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-section .hero-detailes :is(.subtitle, .description, .about-section .about-details) {
    max-width: 100%;
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-section .hero-detailes .button {
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

/* about section  */
 .about-section .section-content {
    flex-direction: column-reverse;
    gap: 60px;
 }
 .about-section .about-image-wrapper .about-image {
    width: 100%;
    height: 100%;
    max-width: 200px;
    aspect-ratio: 1;
 }

 /* menu section */
 .menu-section .menu-list {
    gap: 30px;
}

    .menu-section .menu-list .menu-item {
         width: calc(100% / 2 - 50px);
    }
     .menu-section .menu-list .menu-item .menu-image{
        max-width: 160px;
     }
}

/* Responsive media query for max width 640px */
@media screen and (max-width: 640px) {
    .menu-section .menu-list {
    gap: 60px;
}

    .menu-section .menu-list .menu-item {
         width: 100%;
    }
    .menu-section .menu-list .menu-item .menu-image{
        max-width: 70px;
     }
}